<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/schedulecreate.css">
     <!-- boostrap -->

    <title>Create Schedule</title>
</head>

<body>
    <%- include('../component/header.ejs'); %>




    <div class="login-form-container active">
        <div class="img-container">
            <img src="/images/EU.jpg" id="video-slider"></img>
        </div>

        <i class="fas fa-times" id="form-close"></i>

        <form action="/schedule/create/<%=route_id%>" method="post">
            <h3>Create Schedule</h3>
            <label for="aircraft_id"> Aircraft Id</label> 
            <select class="box" name="aircraft_id">
                <%aircrafts.forEach(aircraft=>{%>
                    <option value="<%=aircraft.aircraft_id%>"><%=aircraft.aircraft_id%></option>
                <%})%>
            </select>
            <label for="departure_date"> departure date </label> 
            <input type="date" class="box" name="departure_date" >

            <label for="departure_time"> departure time </label> 
            <input type="time" class="box" name="departure_time" >
            <input type="submit" class="btn" value="Create">

            <% if(msg) %>
                <p>
                    <%-msg%>
                </p>
        </form>


          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Aircraft Id</th>
                <th scope="col">Aircraft Model Name</th>
                <th scope="col">Economic Seat Capacity</th>
                <th scope="col">Business Seat Capacity</th>
                <th scope="col">Platinum Seat Capacity</th>
                <th scope="col">Economy Seats Per row</th>
                <th scope="col">Business Seats Per row</th>
                <th scope="col">Platinum Seats Per row</th>
                <th scope="col">Max Weight</th>
                <th scope="col">State</th>
              </tr>
            </thead>
            <tbody>
  
  
              <% for (let i=0;i<aircrafts.length;i++){ %>
                <tr>
                  <td><%= aircrafts[i].aircraft_id %></td>
                  <td><%= aircrafts[i].model_name %></td>
                  <td><%= aircrafts[i].economy_seat_capacity %></td>
                  <td><%= aircrafts[i].business_seat_capacity %></td>
                  <td><%= aircrafts[i].platinum_seat_capacity %></td>
                  <td><%= aircrafts[i].economy_seats_per_row %></td>
                  <td><%= aircrafts[i].business_seats_per_row %></td>
                  <td><%= aircrafts[i].platinum_seats_per_row %></td>
                  <td><%= aircrafts[i].max_weight %></td>
                  <td><%= aircrafts[i].aircraft_state %></td>
                </tr>
              <% } %>
  
  
            </tbody>
          </table>

     
       
       


    </div>

</body>

</html>