<div style="margin: 5px;">
    <p style="font-size: large; color: rgb(4, 95, 95);"><%-msg;%></p>
</div>

<div style="margin: 10px;">
    <button style="background-color: aqua; color: aliceblue; padding: 5px; " disabled>Available</button>
    <button style="background-color: green; color: aliceblue; padding: 5px; " disabled>Selected</button>
    <button style="background-color: blue; color: aliceblue; padding: 5px; " disabled>Owned</button>    
    <button style="background-color: red; color: aliceblue; padding: 5px; " disabled >Booked</button>

</div>



                
<div class="Platinum-Seats">
    <h2>Platinum Class Seats</h2>
    <%
    let id = 0;
    for(let i=0;i<seatData.platinum_seats_num_rows;i++){%>
        <div>
        <%for(let j=0;j<seatData.platinum_seats_per_row;j++){
            id+=1;
            %>                
            <button class="btn seat-id-button" id="Seat-<%=id%>"><%-id%></button>
        <%}%>
        </div>
    <%}%>
</div>

<div class="Business-Seats">
    <h2>Business Class Seats</h2>
    <%
    for(let i=0;i<seatData.business_seats_num_rows;i++){%>
        <div>
        <%for(let j=0;j<seatData.business_seats_per_row;j++){
            id+=1;
            %>                
            <button class="btn seat-id-button" id="Seat-<%=id%>"><%-id%></button>
        <%}%>
        </div>
    <%}%>
</div>

<div class="Economy-Seats">
    <h2>Economy Class Seats</h2>
    <%
    for(let i=0;i<seatData.economy_seats_num_rows;i++){%>
        <div>
        <%for(let j=0;j<seatData.economy_seats_per_row;j++){
            id+=1;
            %>                
            <button class="btn seat-id-button" id="Seat-<%=id%>"><%-id%></button>
        <%}%>
        </div>
    <%}%>
</div>


